<div class='frame yellow'>
  <div class="pure-menu pure-menu-horizontal">
    <a href="../index.html" class="pure-menu-heading pure-menu-link">AutoINV</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="../controllers/show_automobiles.php" class="pure-menu-link">Automobiles</a></li>
        <li class="pure-menu-item"><a href="../controllers/show_makes.php" class="pure-menu-link">Makes</a></li>
        <li class="pure-menu-item"><a href="../controllers/show_colors.php" class="pure-menu-link">Colors</a></li>
        <li class="pure-menu-item"><a href="../controllers/show_years.php" class="pure-menu-link">Years</a></li>
    </ul>
  </div>
</div>
